<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>home</title>
    <header class="header">
        <div class="left">
            <img src="../sihreallogo.jpg" alt="SihLOgo">
            Ann Aztecs
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/farmerregistration">Farmer Corner</a></li>
                <li><a href="governmentlogin.html">Admin Login</a></li>
                <li><a href="/seedbooking">Seed Booking</a></li>
                <li><a href=""> Seed Information</a></li>
                <li><a href="/help">Grievance</a></li>
                <li><a href="">Track Order</a></li>
                <li><a href="/shops">Shops</a></li>
            </ul>
        </div>
    </header>